<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>0:0=A88</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr> 
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40375102?query=java">Java developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">HR - агентство Detkin&amp;Co</td> 
     <td class="salary">70&nbsp;000-150&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/34677648?query=java">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">HR - агентство Detkin&amp;Co</td> 
     <td class="salary">130&nbsp;000-160&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38295897?query=java">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">IT-Rev (ООО АйТи Революшн)</td> 
     <td class="salary">до 140&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40051940?query=java">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Ростелеком Информационные Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39833865?query=java">Java разработчик (удаленно)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Cardsmobile (Приложение «Кошелёк»)</td> 
     <td class="salary">от 150&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40356144?query=java">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Инрэко ЛАН</td> 
     <td class="salary">от 100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40234636?query=java">Разработчик Java</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Diasoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40302575?query=java">Java разработчик (Удаленно)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Ньютон Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40236732?query=java">Senior Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ProfiStaff</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40375034?query=java">Java-программист</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">HR - агентство Detkin&amp;Co</td> 
     <td class="salary">120&nbsp;000-180&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40567766?query=java">Разработчик под Android</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Иторум МР</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39974232?query=java">Java Backend разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО ТЕКНО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38312710?query=java">Java-разработчик в IT-компанию</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">HR - агентство Detkin&amp;Co</td> 
     <td class="salary">100&nbsp;000-160&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40351016?query=java">Программист-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Агентство дорожной информации РАДАР</td> 
     <td class="salary">35&nbsp;000-60&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39519792?query=java">Java Senior developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">HR - агентство Detkin&amp;Co</td> 
     <td class="salary">140&nbsp;000-160&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40138373?query=java">Программист, обработка естественного языка</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Биогеном</td> 
     <td class="salary">50&nbsp;000-70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/37346799?query=java">Web-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Камский кабель</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38820152?query=java">Младший разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Бизнес Технологии</td> 
     <td class="salary">от 40&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38856835?query=java">Главный / Ведущий разработчик Java</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Прогрессивные информационные технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40256890?query=java">Fullstack Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Корона Авто</td> 
     <td class="salary">от 170&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40235816?query=java">Начальник управления интернет-технологий (Дистанционное банковское обслуживание)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">АО КБ Урал ФД</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39114424?query=java">Android Developer in Geo Team (in Office/Remote)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Где мои дети</td> 
     <td class="salary">150&nbsp;000-300&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38516562?query=java">Senior Full Stack Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/37574816?query=java">Middle / Senior BackEnd Developer (Java)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Гриндата</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40475029?query=java">Junior/Middle QA Engineer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Promobot</td> 
     <td class="salary">от 40&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39258711?query=java">QA Engineer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/33317090?query=java">Ведущий разработчик .Net (Программист back-end)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Медиагруппа «Актион-МЦФЭР»</td> 
     <td class="salary">до 120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38684052?query=java">Android Developer in Growth Team (in office/remote)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Где мои дети</td> 
     <td class="salary">120&nbsp;000-250&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/29700807?query=java">Middle/Senior Frontend-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Гриндата</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39640832?query=java">Программист</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">АО ОДК-Пермские моторы</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/34129980?query=java">Инженер-программист</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Профессионал</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40092784?query=java">Senior Full stack Engineer (Frontend, Cross Device experience)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/36391259?query=java">Разработчик баз данных, Интегратор</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Гриндата</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39454935?query=java">Программист 1С</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Орсо групп</td> 
     <td class="salary">55&nbsp;000-80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40521505?query=java">Java Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40375486?query=java">Ведущий JavaScript frontend разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">HR - агентство Detkin&amp;Co</td> 
     <td class="salary">100&nbsp;000-150&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40550374?query=java">Azure Senior Data</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Атос АйТи Солюшенс энд Сервисез</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40547820?query=java">Azure Senior DevOps</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Атос АйТи Солюшенс энд Сервисез</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/37939660?query=java">Senior Frontend Engineer (Canvas Widgets)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39954665?query=java">Front-end developer (React)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Ньютон Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/37895248?query=java">Ведущий инженер-программист (Инженер-программист)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">АО КБ Урал ФД</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39102661?query=java">DevOps Specialist</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">РТ МИС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40497769?query=java">Разработчик баз данных (Oracle)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Ростелеком Информационные Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40487864?query=java">Инженер-программист</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">АО СТП Пермский Завод Металлообрабатывающих Центров</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40472342?query=java">Разработчик Oracle PL-SQL</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Diasoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40470333?query=java">Junior Java Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">CloudAware</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40298800?query=java">Android разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ENAZA</td> 
     <td class="salary">60&nbsp;000-140&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40459223?query=java">Backend-разработчик (web-программист)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Фармаимпекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/35538328?query=java">Java Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">CloudAware</td> 
     <td class="salary">до 2&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39929086?query=java">Android-разработчик middle (г. Ижевск)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Хлебница</td> 
     <td class="salary">100&nbsp;000-140&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>