<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40375102?query=java">Java developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">HR - агентство Detkin&amp;Co</td> 
     <td class="salary">70&nbsp;000-150&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/34677648?query=java">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">HR - агентство Detkin&amp;Co</td> 
     <td class="salary">130&nbsp;000-160&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38295897?query=java">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">IT-Rev (ООО АйТи Революшн)</td> 
     <td class="salary">до 140&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40051940?query=java">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Ростелеком Информационные Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39833865?query=java">Java разработчик (удаленно)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Cardsmobile (Приложение «Кошелёк»)</td> 
     <td class="salary">от 150&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40356144?query=java">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Инрэко ЛАН</td> 
     <td class="salary">от 100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40234636?query=java">Разработчик Java</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Diasoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40302575?query=java">Java разработчик (Удаленно)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Ньютон Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40236732?query=java">Senior Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ProfiStaff</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40375034?query=java">Java-программист</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">HR - агентство Detkin&amp;Co</td> 
     <td class="salary">120&nbsp;000-180&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40567766?query=java">Разработчик под Android</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Иторум МР</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38312710?query=java">Java-разработчик в IT-компанию</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">HR - агентство Detkin&amp;Co</td> 
     <td class="salary">100&nbsp;000-160&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40351016?query=java">Программист-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Агентство дорожной информации РАДАР</td> 
     <td class="salary">35&nbsp;000-65&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39519792?query=java">Java Senior developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">HR - агентство Detkin&amp;Co</td> 
     <td class="salary">140&nbsp;000-160&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39640832?query=java">Программист</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">АО ОДК-Пермские моторы</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40138373?query=java">Программист, обработка естественного языка</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Биогеном</td> 
     <td class="salary">50&nbsp;000-70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/37346799?query=java">Web-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Камский кабель</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39698689?query=java">QA инженер (автоматизированное тестирование)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38820152?query=java">Младший разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Бизнес Технологии</td> 
     <td class="salary">от 40&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38856835?query=java">Главный / Ведущий разработчик Java</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Прогрессивные информационные технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40256890?query=java">Fullstack Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Корона Авто</td> 
     <td class="salary">от 170&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40235816?query=java">Начальник управления интернет-технологий (Дистанционное банковское обслуживание)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">АО КБ Урал ФД</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39114424?query=java">Android Developer in Geo Team (in Office/Remote)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Где мои дети</td> 
     <td class="salary">150&nbsp;000-300&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40101150?query=java">SRE инженер (Java Developer)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Тинькофф</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38516562?query=java">Senior Full Stack Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/37574816?query=java">Middle / Senior BackEnd Developer (Java)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Гриндата</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40475029?query=java">Junior/Middle QA Engineer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Promobot</td> 
     <td class="salary">от 40&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39258711?query=java">QA Engineer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/33317090?query=java">Ведущий разработчик .Net (Программист back-end)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Медиагруппа «Актион-МЦФЭР»</td> 
     <td class="salary">до 120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38684052?query=java">Android Developer in Growth Team (in office/remote)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Где мои дети</td> 
     <td class="salary">120&nbsp;000-250&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/29700807?query=java">Middle/Senior Frontend-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Гриндата</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/34129980?query=java">Инженер-программист</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Профессионал</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/37895248?query=java">Ведущий инженер-программист (Инженер-программист)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">АО КБ Урал ФД</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40092784?query=java">Senior Full stack Engineer (Frontend, Cross Device experience)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/36391259?query=java">Разработчик баз данных, Интегратор</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Гриндата</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39454935?query=java">Программист 1С</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Орсо групп</td> 
     <td class="salary">55&nbsp;000-80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39974232?query=java">Java Backend разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО ТЕКНО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39921060?query=java">Инженер сопровождения внутренней телефонии и ВКС</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ЭР-Телеком</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40521505?query=java">Java Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40375486?query=java">Ведущий JavaScript frontend разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">HR - агентство Detkin&amp;Co</td> 
     <td class="salary">100&nbsp;000-150&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40550374?query=java">Azure Senior Data</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Атос АйТи Солюшенс энд Сервисез</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40547820?query=java">Azure Senior DevOps</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Атос АйТи Солюшенс энд Сервисез</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/37939660?query=java">Senior Frontend Engineer (Canvas Widgets)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39954665?query=java">Front-end developer (React)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Ньютон Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39102661?query=java">DevOps Specialist</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">РТ МИС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40497769?query=java">Разработчик баз данных (Oracle)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Ростелеком Информационные Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40487864?query=java">Инженер-программист</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">АО СТП Пермский Завод Металлообрабатывающих Центров</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40472342?query=java">Разработчик Oracle PL-SQL</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Diasoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40470333?query=java">Junior Java Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">CloudAware</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40298800?query=java">Android разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ENAZA</td> 
     <td class="salary">60&nbsp;000-140&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/35538328?query=java">Java Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">CloudAware</td> 
     <td class="salary">до 2&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40459223?query=java">Backend-разработчик (web-программист)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Фармаимпекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38303925?query=java">Разработчик системы видео-регистрации</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">АО Предприятие В-1336</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39929086?query=java">Android-разработчик middle (г. Ижевск)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Хлебница</td> 
     <td class="salary">100&nbsp;000-140&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40415605?query=java">Frontend-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Центральный банк Российской Федерации</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/37431611?query=java">Developer iOS (Разработка решения Service Desk)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">NAUMEN</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40450342?query=java">Программист 1C (в г. Москва)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Торговый Дом НЕФТЬМАГИСТРАЛЬ</td> 
     <td class="salary">200&nbsp;000-200&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39265325?query=java">QA Engineering Manager (Canvas stream)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/36738903?query=java">Java Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/34557239?query=java">Front-end разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">DIGITAL FUTURE SYSTEMS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/36359611?query=java">Middle Java developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">DIGITAL FUTURE SYSTEMS</td> 
     <td class="salary">до 80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/34557259?query=java">Senior Java developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">DIGITAL FUTURE SYSTEMS</td> 
     <td class="salary">до 140&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40379593?query=java">Разработчик OSB</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">УРАЛХИМ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40379459?query=java">Разработчик ORACLE</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">УРАЛХИМ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38116696?query=java">Android developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">DIGITAL FUTURE SYSTEMS</td> 
     <td class="salary">от 100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/36738913?query=java">Backend Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39744734?query=java">Разработчик Java/Spring</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ХОСТ, Группа компаний</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38756274?query=java">Android разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Юникорн</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/36738879?query=java">Senior Backend / Full Stack Engineer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40369563?query=java">Разработчик Frontend - финансовые рынки</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Diasoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40377001?query=java">Руководитель группы разработки ORACLE</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">УРАЛХИМ</td> 
     <td class="salary">от 120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/36738899?query=java">Development Team Lead</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/36738896?query=java">Technical Lead / Architect</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39514599?query=java">Fullstack-разработчик (Fullstack Developer)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">DIGITAL FUTURE SYSTEMS</td> 
     <td class="salary">от 100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38148171?query=java">Руководитель отдела тестирования (QA Lead)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">DIGITAL FUTURE SYSTEMS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39759581?query=java">Android разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">РТ МИС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39800743?query=java">Ведущий программист DWH</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ПАО КБ «Уральский банк реконструкции и развития» (УБРиР)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38285134?query=java">Специалист по тестированию (QA-Engineer)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">DIGITAL FUTURE SYSTEMS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/37814911?query=java">Java - разработчик (Middle+)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Гриндата</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40291587?query=java">Java Developer (middle/senior)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Ckassa (ООО Центральная касса)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40348265?query=java">Team Lead (Frontend, Canvas Widgets)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40337939?query=java">System Team Lead</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40296188?query=java">Консультант по чат-ботам</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Норникель</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/36745720?query=java">Frontend-разработчик (Middle+)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Гриндата</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40281763?query=java">Разработчик баз данных</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Ростелеком Информационные Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39749771?query=java">Ведущий программист DB Oracle (Проект "Умный Дом")</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ЭР-Телеком</td> 
     <td class="salary">от 80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40236654?query=java">Middle Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ProfiStaff</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39747147?query=java">QA Архитектор</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ЭР-Телеком</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40249708?query=java">Junior oracle / php разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Ckassa (ООО Центральная касса)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40234626?query=java">Разработчик MS SQL</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Diasoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40251376?query=java">Инженер-программист</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">АО ОДК-Авиадвигатель</td> 
     <td class="salary">35&nbsp;000-60&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39091943?query=java">Frontend-разработчик (React)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Почта Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/37935055?query=java">Middle / Senior Android developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Почта Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40207347?query=java">Senior Java Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">NAUMEN</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40208582?query=java">Middle Java Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">NAUMEN</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40156069?query=java">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">АО Гознак</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/35542676?query=java">Администратор баз данных</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">CloudAware</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/39656274?query=java">Java developer (удаленная работа)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Solvo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40133020?query=java">Senior Java developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ЮТэйр, Авиакомпания</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40173834?query=java">Backend developer PHP (Payments)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Xsolla Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40161982?query=java">SAP Basis Engineer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40057657?query=java">Backend-разработчик / Java</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Ростелеком Информационные Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40076810?query=java">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Центральный банк Российской Федерации</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40044940?query=java">Java-разработчик (стажер)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Университет Иннополис</td> 
     <td class="salary">70&nbsp;000-98&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40092614?query=java">Программист</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Калашников</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40055057?query=java">Разработчик Android</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Неоматика</td> 
     <td class="salary">80&nbsp;000-150&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/38044568?query=java">Специалист по тестированию ПО</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Группа компаний ГУН</td> 
     <td class="salary">до 70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40103233?query=java">Web-разработчик (Middle)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО Ростелеком Информационные Технологии</td> 
     <td class="salary">от 60&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40121529?query=java">Специалист по качеству разработки/Тестировщик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Softline</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40043878?query=java">Разработчик C++</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Diasoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/40041673?query=java">Разработчик WebTutor</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">GMCS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://perm.hh.ru/vacancy/35613447?query=java">Team Lead/руководитель команды разработки</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">DIGITAL FUTURE SYSTEMS</td> 
     <td class="salary">до 180&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>